* {
    margin: 2;
    border: 2px solid black;
    padding: 2;
    content: 2;
}
body {
    color: whitesmoke;
    background-image: url(IMG/corinthians.webp);
}
.urgente {
    color: blueviolet;
}
.titulo-exe {
    color: red;
}
.subtitulo-exe {
    color: pink;
}
.texto-exe {
    color: chartreuse;
}
.lista-exe {
    background-color: fuchsia;
    color: black;
    background-position: center;
    list-style-position: inside;
    position: inherit;
    position: relative;
}